<div class="modal fade" id="editer_formation_modal" tabindex="-1" role="dialog" aria-labelledby="editer_formation_modal"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editer_formation_modal">Modification formation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="editer-id-form" class="col-form-label">Identifiant de formatiobn:</label>
                        <input type="text" class="form-control" id="editer-id-form" required readonly>

                    </div>

                    <div class="form-group">
                        <label for="editer-date-form" class="col-form-label">Date de formation:</label>
                        <input type="date" class="form-control" id="editer-date-form" required>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="modifier_formation()">Modifier formation</button>
            </div>
        </div>
    </div>
</div>