<div class="modal fade" id="new_stage_modal" tabindex="-1" role="dialog" aria-labelledby="new_stage_modal"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="new_stage_modal">Nouveau Stage</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="nom-entr" class="col-form-label">nom Entreprise:</label>
                        <input type="text" class="form-control" id="nom-entr" required>

                    </div>
                    <div class="form-group">
                        <label for="mat-app-stage" class="col-form-label">Matricule Apprenti:</label>
                        <input type="text" class="form-control" id="mat-app-stage" required>
                    </div>

                    <div class="form-group">
                        <label for="note-stage" class="col-form-label">note de stage:</label>
                        <input type="text" class="form-control" id="note-stage" required>
                    </div>

                    <div class="form-group">
                        <label for="code-metier" class="col-form-label">Code metier:</label>
                        <input type="text" class="form-control" id="code-metier" required>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                <button type="button" class="btn btn-primary" onclick="ajout_stage()">Ajouter </button>
            </div>
        </div>
    </div>
</div>